<%= simple_form_for(@expense) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mx-lg-5">
    <%= f.input :title, as: :string, label: "Title", placeholder: 'Bubble Tea 🧋', required: true, error: 'Please, enter a title.', autofocus: true, label_html: { class: 'text-primary mt-4 mb-2' }, :input_html => { class: 'input-form text-dark' }, wrapper_html: { class: 'mx-lg-5' }  %>
    <%= f.association :category, as: :select, label: "Category", prompt: 'Select your category...', required: true, error: 'Please, select a valid category.', label_html: { class: 'text-primary mt-4 mb-2' }, :input_html => { class: 'input-form text-dark' }, wrapper_html: { class: 'mx-lg-5' } %>
    <%= f.input :amount, label: "Amount", placeholder: '6,50', required: true, error: 'Please, enter a valid amount.', label_html: { class: 'text-primary mt-4 mb-2' }, :input_html => { class: 'input-form text-dark', value: number_with_precision(f.object.amount, precision: 2) }, wrapper_html: { class: 'mx-lg-5' } %>
    <%= f.input :date, as: :date, label: "Date", required: true, error: 'Please, enter a valid date.', label_html: { class: 'text-primary mt-4 mb-2' }, :input_html => { class: 'input-form text-dark' }, wrapper_html: { class: 'mx-lg-5' } %>
  </div>

  <div class="form-actions d-flex justify-content-center align-items-center mt-5">
    <% if request.path != '/expenses/new' && request.path != '/expenses' %>
      <button type="button" class="btn btn-danger py-2 px-4 mx-2 mx-lg-5 btn-hover"><%= link_to 'Delete', @expense, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-secondary" %></button>
    <% end %>
    <%= f.button :submit, '  Save  ', class:"text-secondary btn btn-primary py-2 px-4 mx-2 mx-lg-5 font-size btn-hover" %>
  </div>
<% end %>
