<%= simple_form_for(@expense) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title, as: :string, label: "Title", placeholder: 'Bubble Tea 🧋', required: true, error: 'Error', autofocus: true %>
    <%= f.association :category, as: :select, label: "Category", prompt: 'Select your category...', required: true, error: 'Please, select a valid category.' %>
    <%= f.input :amount, label: "Amount", placeholder: '6,50', required: true, error: 'Error' %>
    <%= f.input :date, as: :date, label: "Date", required: true, error: 'Error' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%# label_method: image_tag(:image) %>